*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   
}
body{
    font-family: 'Playfair Display', serif;
    display: grid;
    background-image: url(aboutme.jpg);


    align-content: center;
    min-height: 100vh;
}
section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 70vh;
    width: 75vw;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px
}
.image{
    backdrop-filter: blur(5px);
  border-radius: 10px; border: 2px solid black;
  box-shadow: 0 0 40px black;;
    display: flex;
    border-radius: 12px 0 0 12px;
}

.content{
    backdrop-filter: blur(5px);
  border-radius: 10px; border: 2px solid black;
  box-shadow: 0 0 40px black;;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 0  12px 12px 0;
    color: #fff;
}

.content span{
    height: 0.5px;
    width: 80px;
    background: #777;
    margin: 30px 0;
}
.content p{
    padding-bottom: 15px;
    font-weight: 300;
    opacity: 0.7;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    line-height: 1.7;
    color:#ffffff
}
.links{
    margin: 15px 0;
}
.links li{
    border: 2px solid #4158D0;
    list-style: none;
    border-radius: 5px;
    padding: 10px 15px;
    width: 160px;
    text-align: center;
}
.links li a{
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}
.links li:hover{
    border-color: #C850C0;
}

.vertical-line{
    height: 30px;
    width: 3px;
    background: #C850C0;
    margin: 0 auto;
}

.image {
    backdrop-filter: blur(5px);
    border-radius: 10px;
    border: 2px solid black;
    box-shadow: 0 0 40px black;
    display: flex;
    border-radius: 12px 0 0 12px;
    text-align: center; /* Center the content within the .image div */
}

.image img {
    max-width: 100%;
    padding-bottom: 100px;
    margin: 10px;
}

.image h2 {
    color: white;
    font-size: 24px;
    margin-top: 10px;
}

